@import "../vars";

.nav {
  display: flex;
  height: 100%;
  align-items: center;

  &__link {
    font-size: 0.93rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $black;
    text-decoration: none;

    margin-left: 2rem;
    position: relative;

    &:after {
      content: "";
      width: 0;
      height: 2px;
      background-color: $black;

      position: absolute;
      bottom: -5px;
      left: 0;
      z-index: 1;

      transition: width 0.2s linear;
    }

    &:hover:not(&--btn) {
      border-color: $black;

      &:after {
        width: 100%;
      }
    }

    &--btn {
      padding: 0.66rem 2rem;
      border: 2px solid rgba($color: $black, $alpha: 0.7);
      border-radius: 20px;
      transition: background-color 0.2s linear, color 0.2s linear;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}
